*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik Dirt', cursive;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Tajawal', sans-serif;

}
body{
    background:#12384A;

}
.main{
    width:100%;
    height: 100vh;
    /* overflow: hidden; */
    background:#12384A;

    position:relative;

}
.first{
    position: absolute;
    top: 5px;
    left: 90px;
}
.navbar{
    width:100%;
    height: auto;
    position: relative;
    display:flex;
    z-index: 1;
}
li{
    display: inline;
    margin:10px;
}
ul{
    position: relative;
    left: 950px;
}
a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.linkspace{
    position: absolute;
    top:18px;
    left: -700px;

}
.logospace{
    position: relative;
    top:5px;
}
.loginButton1{
    position: absolute;
    top:18px;
    left: 1200px;
    width: 200px;
    
}
.btn1{
    display: inline-block;
    text-decoration: none;
    background-color: #fba026;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 14px;
    border-radius: 5px;
    transition: .3s;
    line-height: 16px;
    cursor: pointer;

}
.second{
    position: relative;
    top: 170px;
    left: 170px;
}
.entr1{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 300px;
    border: 3px solid #fba026;
    border-radius: 20px;
    background-color: #12384A;
    color: white;
}
.entr2{
    position: absolute;
    top: 20px;
    left: 300px;
    width: 250px;
    height: 300px;
    border: 3px solid #fba026;
    border-radius: 20px;
    background-color: #12384A;
    color: white;
}
.entr3{
    position: absolute;
    top: 20px;
    left: 580px;
    width: 250px;
    height: 300px;
    border: 3px solid #fba026;
    border-radius: 20px;
    background-color: #12384A;
    color: white;
}
.entr4{
    position: absolute;
    top: 20px;
    left: 860px;
    width: 250px;
    height: 300px;
    border: 3px solid #fba026;
    border-radius: 20px;
    background-color: #12384A;
    color: white;
}
h2,p{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.btn2{
    display: inline-block;
    text-decoration: none;
    background-color: #fba026;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    padding: 12px 14px;
    border-radius: 5px;
    transition: .3s;
    line-height: 16px;
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 180px;
    

}

.personal-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.third{
    position: absolute;
    top: 650px;
    left: 75%;
}
 
.search{
    position: absolute;
    left: 800px;
    top: 15px;
    width: 200px;
    display: inline;
    display: flex;
    align-items: center;

}


 
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
} 
  
/* button[type="submit"] {
    
} */
.submitbtn{
    position: absolute;
    left: 91%;
    padding: 8px;
    background-color: #fba026;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 20px;
    display: inline;
}
.searchbtn{
    position: absolute;
    left: 200px;
    padding: 8px;
    background-color: #fba026;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 20px;
    display: inline;
}
.captiondemand{
    display: inline;
    position: absolute;
    left: -35px;
    width: 180px;
    top: 8px;

}
.reception{
    position: absolute;
    left: 140px;
}



/* .mainform{
    position: absolute;
    top: 0px;
    left: 400px;
    width: 600px;
    overflow:visible;
    
  }
form {
  /* max-width: 600px; 
  margin: 0 auto;
  
} */

div {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fba026;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
}
.mainform{
    position: absolute;
    top: 50px;
    width: 450px;
}
#popup{
	position: absolute;
	/* top:1080px; */
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	padding: 50px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
	background: transparent;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	border-radius: 15px;

    /* overflow:auto  ;                                                                                                                                          ; */

}

#popup.active{
	top: 700px;

    /* left: 500px; */
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
    height: 1150px;
    filter: blur(-50px);
    height: 1250px;

    /* overflow:auto  ;  */
}



#blur.active{
	filter: blur(20px);
	/* pointer-events: none;
	user-select: none; */

}

.tahrik{
    position: relative;
    left: 70px;
    top: 80px;
    
}

h1{
    color: white;
    position: absolute;
    left: 200px;
}